.background_first {
	background: url(images/header.jpg) no-repeat 50% 0%;
	background-size: cover;
	padding-top: 296px;
	padding-bottom: 234px;
	max-height: 1000px;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 56px 20px 10px;
	z-index: 1;
}

.logo1 {
	display: inline-block;
}

.thecompany{
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	line-height: 55px;
	


	letter-spacing: -0.343678px;

	color: #FFFFFF;
	cursor: pointer;
	
}

.welcome {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 55px;


	letter-spacing: 2.8px;

	color: #26BA7E;
}

.computer {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 106px;



	color: #FFFFFF;
}

.about {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 23px;
margin-top:-45px;
text-align: right;
display: block;
color: #FFFFFF;
cursor: pointer;
}

.ul.hr {
    padding: 4px; 
    margin-top: -40px;
   }
   ul.hr li {
    display: inline; 
    margin-right: 5px;  
    padding: 6px; 
   }

 .read {
 	display: inline-block;
 	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: black;
	background: #26BA7E;
	border-radius: 26px;
	padding:18px 40px 21px 40px;
	margin: 47px 0px 0px 20px;
	cursor: pointer;


 }


 .read a {
 	color:#FFFFFF;
 }

 .read a:hover {
 	text-decoration: none;
 	color: black;
 }

.header2 {
	position: absolute;
	width: 807px;
	height: 711px;
	top: 1000px;
	left: 0px;
	z-index: 3;

}
.back {
	position: absolute;
	width: 1456px;
	height: 710px;
	left: 342px;
	top: 1004px;

	background: #F1F0EC;

}


.us {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 61px;
	color: #113442;	
	padding-left: 545px;
	margin-top: 98px;
	
}

.us span a:hover {
	color: black;
}

.lorem {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 31px;
color: #546D76;
width: 654px;
height: 248px;
padding-top: 20px;
}

.more {
	display: inline-block;
 	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: black;
	background: #26BA7E;
	border-radius: 26px;
	padding:18px 60px 21px 60px;
	margin: 60px 0px 0px 2px;
	cursor: pointer;

}

.more a {
 	color:#FFFFFF;
 }

 .more a:hover {
 	text-decoration: none;
 	color: black;

}

.faded {
	display: block;
	margin-top: 210px;
	width: 0 auto;
	height:300px;
}




.col1 {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 48px;
color: #113442;
margin-top: 25px;

}


.col2 {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
color: #113442;
margin-left: 100px;
margin-top: 4px;
}


.col3 {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
color: #113442;
margin-left:110px;
}


.col4 {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;
color: #546D76;
margin-left: 110px;
margin-top: 10px;
}


.col5 {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
color: #113442;
margin-left: 110px;
margin-top: 80px;
width: 500px;
}


.col6 {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 21px;
color: #546D76;
margin-top: 10px;
text-align: left;
width: 500px;
margin-left: 110px;
}




.orion {
	position: absolute;
	left: 60px;

}


.thunder {
	position: absolute;
	left: 60px;
}




.sunny {
	position: absolute;
	margin-top: 75px;
	left: 50px;
}



.gray {
	background: #F1F0EC;
	margin-top: 187px;
}


.structure {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 62px;
	text-align: center;
	letter-spacing: -1px;
	color: #113442;
	margin-top: 250px;
	text-align: center;
	max-width: 100%;
}

	

.u {
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	color: #546D76;
	margin-top: 20px;
		

}	



.combined {
	margin-left: 70px;
}

.shape {
	margin-top: 98px;
}

.aboutus {
	display: inline-block;
 	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: black;
	background: #26BA7E;
	border-radius: 26px;
	padding:18px 60px 21px 60px;
	cursor: pointer;
	margin-left:380px;
	margin-bottom: 151px;
	margin-top:97px;
}



.blue {
	background: #1C343B;

}



.how {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 55px;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	color: #38BE89;
}


.trying {
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 55px;
color: #FFFFFF;
text-align: left;
}


.line {
	margin-left: -150px;
}


.layer5 {

}

.newbutton {
	display: inline-block;
 	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: black;
	background: #26BA7E;
	border-radius: 26px;
	padding:18px 60px 21px 60px;
	cursor: pointer;
	margin-left: 100px;
	margin-bottom: 151px;
	margin-top:52px;
}







.aboutus2 {
	display: inline-block;
 	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: white;
	background: #26BA7E;
	border-radius: 26px;
	padding:18px 60px 21px 60px;
	cursor: pointer;
	margin-bottom: 331px;
	margin-top:52px;

}

.aboutus2:hover {
	text-decoration: none;
	color: black;
}

.steps {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	color: #113442; 
	margin-top: 346px;
	text-align:left;
}


.sit {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #546D76;
	text-align:left;
	padding-top: 40px;
}


.foto {
	margin-bottom: 207px;
}